/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #353;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    padding: 2rem;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

p, ul {
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add more styling as needed */
/* style.css */

/* Existing Styles */

/* Add styling for the contact section */
#contact {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    padding: 2rem;
}

#contact h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact a {
    color: #007BFF;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
